.groups-messages 所属中のグループ
.search-result-messages
  - @messages.each do |message|
    .search-messages
      .search-messages__conteiner
        .search-messages__conteiner__image
          - if message.group.image.attached?
            = image_tag message.group.image,size:'100x100'
          - else
            = image_tag 'public/icon_043140_64.png'
        .search-messages__conteiner__info
          .search-messages__conteiner__info__name
            = 'グループ名:'
            = message.group.name
          .search-messages__conteiner__info__breed
            = 'ワンちゃん:'
            = message.group.breed
          .search-messages__conteiner__info__town
            = '地域:'
            = message.group.town
          .search-messages__conteiner__info__any
            = message.group.any
        .search-messages__conteiner__message
          - if user_signed_in? && @dogs.present?
            = link_to 'グループに入る',new_group_message_path(message.group), class: 'search-groups-message'
          - else
            %h2 ログイン後、ワンちゃん情報の登録でメッセージが送れます