.groups-messages 所属中のグループ
.search-result-groups
  - @messages.each do |message|
    .search-result
      .search-result__conteiner
        .search-result__conteiner__image
          - if message.group.image.attached?
            = image_tag message.group.image,size:'100x100'
        .search-result__conteiner__info
          .search-result__conteiner__info__name
            = 'グループ名:'
            = message.group.name
          .search-result__conteiner__info__breed
            = 'ワンちゃん:'
            = message.group.breed
          .search-result__conteiner__info__town
            = '地域:'
            = message.group.town
          .search-result__conteiner__info__any
            = message.group.any
        .search-result__conteiner__message
          - if user_signed_in?
            = link_to 'グループに入る',new_group_message_path(message.group), class: 'search-groups-message'
          - else
            %h2 ログイン後にメッセージが送れます