.registrations-main
  %h2 新規登録ページ
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :性別
      %br/
      = f.text_field :sex,placeholder: '男 or 女'
    .field
      = f.label :年齢
      %br/
      = f.text_field :age,placeholder: '例 30代 年代で構いません'
      = f.label :名前
      %br/
      = f.text_field :name,placeholder: '例'
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上でお願いします)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :確認のためもう１度パスワード
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "登録"
  = render "devise/shared/links"
