- @messages.each do |message|
  .message__conteiner
    .message__conteiner__content
      .transaction-field
        .user-message
          .user-message__face
            .user-message__face__image
              - if message.user.dogs[0].image.attached?
                = image_tag message.user.dogs[0].image,size:'50x50'
              .user-message__face__image__nickname
                飼い主:
                %br #{message.user.nickname}
              .user-message__face__image__dogname
                ワンちゃん:
                %br #{message.user.dogs[0].name}
          .user-message__body
            .user-message__body__text
              = message.content
              %br
              = message.created_at.strftime("%Y年%m月%d日 %H:%M")