.search-main
  .search-main__menu お友達を探す
  .search-main__content
    = form_with url: 'dogs/search',method: 'get',local: true do |f|
      .search-main__content__dog
      = f.text_field :prefecture, placeholder: '都道府県'
      .search-main__content__dog
      = f.text_field :municipalities, placeholder: '市町村'
      .search-main__content__dog
      = f.text_field :town, placeholder: '地域'
      .search-main__content__dog
      = f.text_field :breed, placeholder: '犬種'
      .search-main__content__btn
      = f.submit '検索',class: 'search-main-search'