!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name:"viewport",content:"width=device-width,initial-scale=1"}/
    %link{:href => "./images/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %title Dogoff
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ontouchstart:""}
    = yield
